{%  extends 'base.html' %}

{% block title %} shop {% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block main %}
<font size="4" color="#3e7872" face="Times New Roman">
    <br>
    <p>
        Для нас одежда — это больше, чем просто нужные вещи. Одежда помогает женщине выразить своё внутреннее состояние: ведь бывают моменты, когда хочется быть игривой кокеткой, на следующий день — нежной и хрупкой, а потом и вовсе строгой поклонницей классики. Одежда влияет на то, как нас воспринимают другие люди, — а значит, становится инструментом, который в умелых руках может многое. Одежда способна подарить новые возможности: когда нам нравится, как мы выглядим, мы действуем уверенно.
    </p>
</font>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}